<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<html>
    <body>
          <div class="site-content">
            {{>header}}
            <main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/">Home</a>
						<span>{{title}}</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						
						<div class="col-md-11 col-md-offset-1">
							<h2 class="section-title">About us</h2>
							<p>This web site is built and maintained by techviju! It provides weather data of your search location in real-time.</p>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
            <footer class="site-footer">
				<div class="container">
                    {{>footer}}
                </div>
            </footer>
        </div>
        {{!-- {{>header}}
        <h1>{{title}}</h1>
        <img src="img/me.jpg">
        {{>footer}} --}}
    </body>
</html>