<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/home.js"></script>
</head>

<html>
    <body>
        <div class="site-content">
            {{>header}}
            <p>{{errorMessage}}</p>
            {{>footer}}
        </div>
    </body>
</html>