<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/home.js"></script>
</head>

<html>
    <body>
        <div class="site-content">
            {{>header}}
            <main class="main-content">
				<div class="container">
					<div class="breadcrumb">
						<a href="/">Home</a>
						<span>{{title}}</span>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						
						<div class="col-md-11 col-md-offset-1">
							<h2 class="section-title">Help</h2>
							<p>Comming soon!</p>
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
            <footer class="site-footer">
				<div class="container">
                    {{>footer}}
                </div>
            </footer>
			
        </div>
    </body>
</html>